body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

.nav-section, .hero-section{
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

.nav-section{
    margin-bottom: 100px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-right{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.hero-section{
    display: flex;
    justify-content: space-between;
}

.hero-left{
    margin-top: 50px;
    width: 40%;
}

.hero-right{
    width: 50%;
}

.hero-img{
    width: 100%;
}

.parent{
    padding-top: 40px;
    padding-bottom: 50px;
}

.logo{
    width: 100px;
    object-fit: contain;
}

.hero-left h1{
    font-size: 40px;
    font-weight: 400, 700;
}

.hero-left p{
    font-size: 20px;
    font-weight: 400, 700;
}

.hero-left input{
  width: 50%;
  padding: 10px;
  margin-right: 20px;
}

.hero-left button{
    width: 30%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}